<a href="https://colab.research.google.com/github/baobao1022002/LabMachineLearning/blob/master/Lab_6_20130475_NguyenQuocBao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Na√Øve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [29]:
# code
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,recall_score,f1_score
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn import datasets
from sklearn.metrics import classification_report, confusion_matrix
from prettytable import PrettyTable
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.svm import SVC
import time
from keras.datasets import mnist
from sklearn.datasets import load_digits
from sklearn.naive_bayes import CategoricalNB,BernoulliNB,MultinomialNB,ComplementNB,GaussianNB
from sklearn.feature_selection import SelectKBest
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.decomposition import PCA
from sklearn.feature_selection import RFE,chi2
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.naive_bayes import CategoricalNB
from sklearn.tree import DecisionTreeClassifier

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [30]:
# code
mnist = load_digits()


# Split the dataset into training and testing sets
X_train, X_test, Y_train, Y_test = train_test_split(mnist.data, mnist.target, test_size=0.3,train_size=0.3, random_state=0)
clfRF=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clfRF.fit(X_train,Y_train)
y_predRF = clfRF.predict(X_test)

preRF=precision_score(Y_test, y_predRF,average='macro')
recRF=recall_score(Y_test, y_predRF,average="macro")
f1ScoreRF=f1_score(Y_test, y_predRF,average="macro")
accRF=accuracy_score(Y_test, y_predRF)


# GaussianNB
from sklearn.naive_bayes import GaussianNB
modelGauNB = GaussianNB()
modelGauNB.fit(X_train, Y_train)
y_predGauNB = modelGauNB.predict(X_test)

preGauNB=precision_score(Y_test, y_predGauNB,average='macro')
recGauNB=recall_score(Y_test, y_predGauNB,average="macro")
f1ScoreGauNB=f1_score(Y_test, y_predGauNB,average="macro")
accGauNB=accuracy_score(Y_test, y_predGauNB)

# linear kernel SVM
clfLinear = svm.SVC(kernel='linear') # linear kernel
clfLinear.fit(X_train, Y_train)
y_predSVMLinear = clfLinear.predict(X_test)
preSVMLinear=precision_score(Y_test, y_predSVMLinear,average='macro')
recSVMLinear=recall_score(Y_test, y_predSVMLinear,average="macro")
f1ScoreSVMLinear=f1_score(Y_test, y_predSVMLinear,average="macro")
accSVMLinear=accuracy_score(Y_test, y_predSVMLinear)




t=PrettyTable(['Name metric mesura','Random forest', 'NaiveBayes Gaussian', 'SVM'])
t.add_row(['Accuracy',accRF,accGauNB,accSVMLinear])
t.add_row(['Precision',preRF,preGauNB,preSVMLinear])
t.add_row(['Recall',recRF,recGauNB,recSVMLinear])
t.add_row(['F1 measures',f1ScoreRF,f1ScoreGauNB,f1ScoreSVMLinear])
print('no using feature selection')
print(t)

no using feature selection
+--------------------+--------------------+---------------------+--------------------+
| Name metric mesura |   Random forest    | NaiveBayes Gaussian |        SVM         |
+--------------------+--------------------+---------------------+--------------------+
|      Accuracy      | 0.9537037037037037 |  0.8240740740740741 | 0.9666666666666667 |
|     Precision      | 0.9555932343083757 |  0.8528835942025536 | 0.967235097387926  |
|       Recall       | 0.9540134991957888 |  0.8299697130246605 | 0.9677935122954413 |
|    F1 measures     | 0.9543013497862658 |  0.832521515532503  | 0.9668350619916696 |
+--------------------+--------------------+---------------------+--------------------+

In [31]:
X_train2, X_test2, Y_train2, Y_test2 = train_test_split(mnist.data, mnist.target, test_size=0.3,train_size=0.3, random_state=0)

selector=SelectKBest(chi2,k=2)
X_new=selector.fit_transform(X_train2,Y_train2)

# selector = SelectKBest(score_func=f_classif, k=k)
selector.fit(X_train2, Y_train2)
X_test2_selected = selector.transform(X_test2)


# Train and evaluate the Random Forest classifier with feature selection
rf_clf = RandomForestClassifier(n_estimators=100)
rf_clf.fit(X_new, Y_train2)
y_predRF2 = rf_clf.predict(X_test2_selected)

preRF2=precision_score(Y_test2, y_predRF2,average='macro')
recRF2=recall_score(Y_test2, y_predRF2,average="macro")
f1ScoreRF2=f1_score(Y_test2, y_predRF2,average="macro")
accRF2=accuracy_score(Y_test2, y_predRF2)


# CategoricalNB
clfCaNB2 = CategoricalNB()
clfCaNB2.fit(X_new, Y_train2)
y_predCaNB2 = clfCaNB2.predict(X_test2_selected)
preCaNB2=precision_score(Y_test2, y_predCaNB2,average='macro')
recCaNB2=recall_score(Y_test2, y_predCaNB2,average="macro")
f1ScoreCaNB2=f1_score(Y_test2, y_predCaNB2,average="macro")
accCaNB2=accuracy_score(Y_test2, y_predCaNB2)

# linear kernel SVM
clfLinear2 = svm.SVC(kernel='linear') # linear kernel
clfLinear2.fit(X_new, Y_train2)
y_predSVMLinear2 = clfLinear2.predict(X_test2_selected)
preSVMLinear2=precision_score(Y_test2, y_predSVMLinear2,average='macro')
recSVMLinear2=recall_score(Y_test2, y_predSVMLinear2,average="macro")
f1ScoreSVMLinear2=f1_score(Y_test2, y_predSVMLinear2,average="macro")
accSVMLinear2=accuracy_score(Y_test2, y_predSVMLinear2)



print('After use feature selection')
t=PrettyTable(['Name metric mesura','Random forest', 'NaiveBayes', 'SVM'])
t.add_row(['Accuracy',accRF2,accCaNB2,accSVMLinear2])
t.add_row(['Precision',preRF2,preCaNB2,preSVMLinear2])
t.add_row(['Recall',recRF2,recCaNB2,recSVMLinear2])
t.add_row(['F1 measures',f1ScoreRF2,f1ScoreCaNB2,f1ScoreSVMLinear2])
print(t)

After use feature selection
+--------------------+---------------------+---------------------+---------------------+
| Name metric mesura |    Random forest    |      NaiveBayes     |         SVM         |
+--------------------+---------------------+---------------------+---------------------+
|      Accuracy      |  0.3111111111111111 | 0.30925925925925923 | 0.31296296296296294 |
|     Precision      | 0.30200835522917746 |  0.3109224590456146 | 0.27012469503930603 |
|       Recall       | 0.32187532643036737 | 0.32313805133019413 | 0.32869112426410113 |
|    F1 measures     |  0.292355063111309  |  0.2853626883228183 | 0.25931541848528833 |
+--------------------+---------------------+---------------------+---------------------+

/usr/local/lib/python3.9/dist-packages/sklearn/metrics/_classification.py:1344: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

In [32]:
# code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML/lab6'
dataset_bank=pd.read_csv("bank.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/ML/lab6

In [5]:
dataset_bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [33]:
# Copying original dataframe

scaler = StandardScaler()
num_cols = ['age', 'balance', 'day', 'campaign', 'pdays', 'previous']
dataset_bank[num_cols] = scaler.fit_transform(dataset_bank[num_cols])

dataset_bank.head(10)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1.491505,admin.,married,secondary,no,0.252525,yes,no,unknown,-1.265746,may,1042,-0.554168,-0.481184,-0.36326,unknown,yes
1,1.239676,admin.,married,secondary,no,-0.459974,no,no,unknown,-1.265746,may,1467,-0.554168,-0.481184,-0.36326,unknown,yes
2,-0.019470,technician,married,secondary,no,-0.080160,yes,no,unknown,-1.265746,may,1389,-0.554168,-0.481184,-0.36326,unknown,yes
3,1.155733,services,married,secondary,no,0.293762,yes,no,unknown,-1.265746,may,579,-0.554168,-0.481184,-0.36326,unknown,yes
4,1.071790,admin.,married,tertiary,no,-0.416876,no,no,unknown,-1.265746,may,673,-0.186785,-0.481184,-0.36326,unknown,yes
5,0.064473,management,single,tertiary,no,-0.473926,yes,yes,unknown,-1.265746,may,562,-0.186785,-0.481184,-0.36326,unknown,yes
6,1.239676,management,married,tertiary,no,-0.216583,yes,yes,unknown,-1.146986,may,1201,-0.554168,-0.481184,-0.36326,unknown,yes
7,1.575448,retired,divorced,secondary,no,-0.304948,yes,no,unknown,-1.146986,may,1030,-0.554168,-0.481184,-0.36326,unknown,yes
8,-0.355243,technician,married,secondary,no,-0.473616,yes,no,unknown,-1.146986,may,608,-0.554168,-0.481184,-0.36326,unknown,yes
9,-1.110730,services,single,secondary,no,1.104237,yes,no,unknown,-1.146986,may,1297,0.180598,-0.481184,-0.36326,unknown,yes

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [34]:
#code
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(sparse=False)
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']


# Encode Categorical Data
df_encoded = pd.DataFrame(encoder.fit_transform(dataset_bank[cat_cols]))
df_encoded.columns = encoder.get_feature_names_out(cat_cols)

# Replace Categotical Data with Encoded Data
dataset_bank = dataset_bank.drop(cat_cols ,axis=1)
dataset_bank = pd.concat([df_encoded, dataset_bank], axis=1)

# Encode target value
dataset_bank['deposit'] = dataset_bank['deposit'].apply(lambda x: 1 if x == 'yes' else 0)

dataset_bank.head(10)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,job_admin.,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,...,poutcome_success,poutcome_unknown,age,balance,day,duration,campaign,pdays,previous,deposit
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.491505,0.252525,-1.265746,1042,-0.554168,-0.481184,-0.36326,1
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.239676,-0.459974,-1.265746,1467,-0.554168,-0.481184,-0.36326,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,-0.019470,-0.080160,-1.265746,1389,-0.554168,-0.481184,-0.36326,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,1.155733,0.293762,-1.265746,579,-0.554168,-0.481184,-0.36326,1
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.071790,-0.416876,-1.265746,673,-0.186785,-0.481184,-0.36326,1
5,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.064473,-0.473926,-1.265746,562,-0.186785,-0.481184,-0.36326,1
6,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.239676,-0.216583,-1.146986,1201,-0.554168,-0.481184,-0.36326,1
7,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.575448,-0.304948,-1.146986,1030,-0.554168,-0.481184,-0.36326,1
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,-0.355243,-0.473616,-1.146986,608,-0.554168,-0.481184,-0.36326,1
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,-1.110730,1.104237,-1.146986,1297,0.180598,-0.481184,-0.36326,1

#3.3. Apply **Decision tree, Random forest, kNN, Na√ØveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [53]:

X = dataset_bank.drop("deposit", axis=1)
Y = dataset_bank["deposit"]

# split the data into training and testing sets
X_train3, X_test3, Y_train3, Y_test3 = train_test_split(X, Y, test_size=0.2, random_state=42)

In [49]:
clf_modelDecisionTree3 = DecisionTreeClassifier(criterion="gini", random_state=42,
max_depth=3, min_samples_leaf=5)
clf_modelDecisionTree3.fit(X_train3,Y_train3)

y_predDecisionTree3 = clf_modelDecisionTree3.predict(X_test3)

preDecisionTree3=precision_score(Y_test3, y_predDecisionTree3,average='macro')
recDecisionTree3=recall_score(Y_test3, y_predDecisionTree3,average="macro")
f1ScoreDecisionTree3=f1_score(Y_test3, y_predDecisionTree3,average="macro")
accDecisionTree3=accuracy_score(Y_test3, y_predDecisionTree3)

clfRF3=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clfRF3.fit(X_train3,Y_train3)
y_predRF3 = clfRF3.predict(X_test3)

preRF3=precision_score(Y_test3, y_predRF3,average='macro')
recRF3=recall_score(Y_test3, y_predRF3,average="macro")
f1ScoreRF3=f1_score(Y_test3, y_predRF3,average="macro")
accRF3=accuracy_score(Y_test3, y_predRF3)

model3 = KNeighborsClassifier(n_neighbors=5)
# Train the model using the training sets
model3.fit(X_train3,Y_train3)
#Predict Output
y_predKNN3 = model3.predict(X_test3) 

preKNN3=precision_score(Y_test3, y_predKNN3,average='macro')
recKNN3=recall_score(Y_test3, y_predKNN3,average="macro")
f1ScoreKNN3=f1_score(Y_test3, y_predKNN3,average="macro")
accKNN3=accuracy_score(Y_test3, y_predKNN3)



# GaussianNB
clfGauNB3 = GaussianNB()

clfGauNB3.fit(X_train3, Y_train3)
y_predGauNB3 = clfGauNB3.predict(X_test3)

preGauNB3=precision_score(Y_test3, y_predGauNB3,average='macro')
recGauNB3=recall_score(Y_test3, y_predGauNB3,average="macro")
f1ScoreGauNB3=f1_score(Y_test3, y_predGauNB3,average="macro")
accGauNB3=accuracy_score(Y_test3, y_predGauNB3)


t=PrettyTable(['Name metric mesura','Decision Tree','Random forest','kNN', 'NaiveBayes Gaussian'])
t.add_row(['Accuracy',accDecisionTree3,accRF3,accKNN3,accGauNB3])
t.add_row(['Precision',preDecisionTree3,preRF3,preKNN3,preGauNB3])
t.add_row(['Recall',recDecisionTree3,recRF3,recKNN3,recGauNB3])
t.add_row(['F1 measures',f1ScoreDecisionTree3,f1ScoreRF3,f1ScoreKNN3,f1ScoreGauNB3])
print(t)

+--------------------+--------------------+--------------------+--------------------+---------------------+
| Name metric mesura |   Decision Tree    |   Random forest    |        kNN         | NaiveBayes Gaussian |
+--------------------+--------------------+--------------------+--------------------+---------------------+
|      Accuracy      | 0.7693685624720108 | 0.8347514554411106 | 0.7635467980295566 |  0.729064039408867  |
|     Precision      | 0.7801741175540535 | 0.8351812534402767 | 0.7630840407743263 |  0.7466511214310408 |
|       Recall       | 0.7734699651641881 | 0.8357588725221481 | 0.7630413255291684 |  0.7225026966808721 |
|    F1 measures     | 0.7685842263505634 | 0.8347175125093651 | 0.7630620680341665 |  0.7199889733733913 |
+--------------------+--------------------+--------------------+--------------------+---------------------+

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [62]:
selector=SelectKBest(f_classif,k=50)

X_new4=selector.fit_transform(X_train3,Y_train3)
# X_new=selector.fit_transform(X_train2,Y_train2)

selector.fit(X_train3, Y_train3)
X_test3_selected = selector.transform(X_test3)


clf_modelDecisionTree4 = DecisionTreeClassifier(criterion="gini", random_state=42,
max_depth=3, min_samples_leaf=5)
clf_modelDecisionTree4.fit(X_new4,Y_train3)

y_predDecisionTree4 = clf_modelDecisionTree4.predict(X_test3_selected)

preDecisionTree4=precision_score(Y_test3, y_predDecisionTree4,average='macro')
recDecisionTree4=recall_score(Y_test3, y_predDecisionTree4,average="macro")
f1ScoreDecisionTree4=f1_score(Y_test3, y_predDecisionTree4,average="macro")
accDecisionTree4=accuracy_score(Y_test3, y_predDecisionTree4)

clfRF4=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clfRF4.fit(X_new4,Y_train3)
y_predRF4 = clfRF4.predict(X_test3_selected)

preRF4=precision_score(Y_test3, y_predRF4,average='macro')
recRF4=recall_score(Y_test3, y_predRF4,average="macro")
f1ScoreRF4=f1_score(Y_test3, y_predRF4,average="macro")
accRF4=accuracy_score(Y_test3, y_predRF4)

model4 = KNeighborsClassifier(n_neighbors=5)
# Train the model using the training sets
model4.fit(X_new4,Y_train3)
#Predict Output
y_predKNN4 = model4.predict(X_test3_selected) 

preKNN4=precision_score(Y_test3, y_predKNN4,average='macro')
recKNN4=recall_score(Y_test3, y_predKNN4,average="macro")
f1ScoreKNN4=f1_score(Y_test3, y_predKNN4,average="macro")
accKNN4=accuracy_score(Y_test3, y_predKNN4)



# GaussianNB
clfGauNB4 = GaussianNB()

clfGauNB4.fit(X_new4, Y_train3)
y_predGauNB4 = clfGauNB4.predict(X_test3_selected)

preGauNB4=precision_score(Y_test3, y_predGauNB4,average='macro')
recGauNB4=recall_score(Y_test3, y_predGauNB4,average="macro")
f1ScoreGauNB4=f1_score(Y_test3, y_predGauNB4,average="macro")
accGauNB4=accuracy_score(Y_test3, y_predGauNB4)


t=PrettyTable(['Name metric mesura','Decision Tree','Random forest','kNN', 'NaiveBayes Gaussian'])
t.add_row(['Accuracy',accDecisionTree4,accRF4,accKNN4,accGauNB4])
t.add_row(['Precision',preDecisionTree4,preRF4,preKNN4,preGauNB4])
t.add_row(['Recall',recDecisionTree4,recRF4,recKNN4,recGauNB4])
t.add_row(['F1 measures',f1ScoreDecisionTree4,f1ScoreRF4,f1ScoreKNN4,f1ScoreGauNB4])
print(' using feature selection')
print(t)

 using feature selection
+--------------------+--------------------+--------------------+--------------------+---------------------+
| Name metric mesura |   Decision Tree    |   Random forest    |        kNN         | NaiveBayes Gaussian |
+--------------------+--------------------+--------------------+--------------------+---------------------+
|      Accuracy      | 0.7693685624720108 | 0.8329601433049709 | 0.7626511419614868 |  0.729064039408867  |
|     Precision      | 0.7801741175540535 | 0.8331728817584209 | 0.7621971029970438 |  0.7469181070245213 |
|       Recall       | 0.7734699651641881 | 0.8338048840869303 | 0.7620643313115595 |  0.7224629095860373 |
|    F1 measures     | 0.7685842263505634 | 0.832906526365035  | 0.7621251857187881 |  0.7198953861987989 |
+--------------------+--------------------+--------------------+--------------------+---------------------+

In [ ]:
#code

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [56]:

# code
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/ML/lab5'
creditDataset=pd.read_csv("creditcard.csv")

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/ML/lab5

In [59]:
train,validation, test = np.split(creditDataset.sample(frac=1), [int(.6*len(creditDataset)),
int(.8*len(creditDataset))])

X_train5 = train[[train.columns[i] for i in range(train.shape[1]-1) ]]
Y_train5 = train[train.columns[-1]]
# Assign the test split
X_test5 = test[[test.columns[i] for i in range(train.shape[1]-1) ]]
Y_test5 = test[test.columns[-1]]

In [ ]:
selector=SelectKBest(f_classif,k=2)
X_new5=selector.fit_transform(X_train5,Y_train5)
# X_new=selector.fit_transform(X_train2,Y_train2)

selector.fit(X_train5, Y_train5)
X_test5_selected = selector.transform(X_test5)


clf_modelDecisionTree5 = DecisionTreeClassifier(criterion="gini", random_state=42,
max_depth=3, min_samples_leaf=5)
clf_modelDecisionTree5.fit(X_new5,Y_train5)

y_predDecisionTree5 = clf_modelDecisionTree5.predict(X_test5_selected)

preDecisionTree5=precision_score(Y_test5, y_predDecisionTree5,average='macro')
recDecisionTree5=recall_score(Y_test5, y_predDecisionTree5,average="macro")
f1ScoreDecisionTree5=f1_score(Y_test5, y_predDecisionTree5,average="macro")
accDecisionTree5=accuracy_score(Y_test5, y_predDecisionTree5)

clfRF5=RandomForestClassifier(n_estimators=100)
#Train the model using the training sets
clfRF5.fit(X_new5,Y_train5)
y_predRF5 = clfRF5.predict(X_test5_selected)

preRF5=precision_score(Y_test5, y_predRF5,average='macro')
recRF5=recall_score(Y_test5, y_predRF5,average="macro")
f1ScoreRF5=f1_score(Y_test5, y_predRF5,average="macro")
accRF5=accuracy_score(Y_test5, y_predRF5)

model5 = KNeighborsClassifier(n_neighbors=5)
# Train the model using the training sets
model5.fit(X_new5,Y_train5)
#Predict Output
y_predKNN5 = model5.predict(X_test5_selected) 

preKNN5=precision_score(Y_test5, y_predKNN5,average='macro')
recKNN5=recall_score(Y_test5, y_predKNN5,average="macro")
f1ScoreKNN5=f1_score(Y_test5, y_predKNN5,average="macro")
accKNN5=accuracy_score(Y_test5, y_predKNN5)



# GaussianNB
clfGauNB5 = GaussianNB()

clfGauNB5.fit(X_new5, Y_train5)
y_predGauNB5 = clfGauNB5.predict(X_test5_selected)

preGauNB5=precision_score(Y_test5, y_predGauNB5,average='macro')
recGauNB5=recall_score(Y_test5, y_predGauNB5,average="macro")
f1ScoreGauNB5=f1_score(Y_test5, y_predGauNB5,average="macro")
accGauNB5=accuracy_score(Y_test5, y_predGauNB5)


clfPoly = svm.SVC(kernel='poly') # Polynomial Kernel
clfPoly.fit(X_new5, Y_train5)
#Predict the response for test dataset
y_predSVMPoly5 = clfPoly.predict(X_test5_selected)

preSVMPoly5=precision_score(Y_test5, y_predSVMPoly5,average='macro')
recSVMPoly5=recall_score(Y_test5, y_predSVMPoly5,average="macro")
f1ScoreSVMPoly5=f1_score(Y_test5, y_predSVMPoly5,average="macro")
accSVMPoly5=accuracy_score(Y_test5, y_predSVMPoly5)


t=PrettyTable(['Name metric mesura','Decision Tree','Random forest','kNN', 'NaiveBayes Gaussian','SVM  Polynomial Kernel'])
t.add_row(['Accuracy',accDecisionTree5,accRF5,accKNN5,accGauNB5,accSVMPoly5])
t.add_row(['Precision',preDecisionTree5,preRF5,preKNN5,preGauNB5,preSVMPoly5])
t.add_row(['Recall',recDecisionTree5,recRF5,recKNN5,recGauNB5,recSVMPoly5])
t.add_row(['F1 measures',f1ScoreDecisionTree5,f1ScoreRF5,f1ScoreKNN5,f1ScoreGauNB5,f1ScoreSVMPoly5])
print(' using feature selection')
print(t)

#Finally,
Save a copy in your Github. Remember renaming the notebook.